@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<link rel="shortcut icon" type="image/x-icon" href="/Content/images/icons/favicon-updated.ico" />
        <link rel="apple-touch-icon" href="/Content/images/icons/AppleIcon-Updated.png" />*@
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    @Styles.Render("~/Application/js/loading-bar/loading-bar.min.css")
    @Styles.Render("~/Application/css/app.css")
    <title>Decipher Austin</title>
</head>
<body>
    <div ng-app="app" id="app">
        <div class="container body-content">
            <div ui-view="mainContainer" class="mainContainer"></div>
        </div>
    </div>
    @Scripts.Render("~/Application/js/jquery-1.12.4.min.js")
    <script type="text/javascript">
            jQuery.event.props.push('dataTransfer');
    </script>
    @*Amplify is used to store session data throughout the app*@
    @Scripts.Render("~/Application/js/amplify.min.js")
    @Scripts.Render("~/Application/js/injections.js")
    @Scripts.Render("~/Application/js/lodash.js")
    @Scripts.Render("~/Application/js/angular.min.js")
    @Scripts.Render("~/Application/js/angular-ui-router.min.js")
    @Scripts.Render("~/Application/js/loading-bar/loading-bar.min.js")
    @Scripts.Render("~/Application/js/angular-animate.min.js")
    @Scripts.Render("~/Application/js/angular-simple-logger.js")
    @Scripts.Render("~/Application/js/relative-paths-in-partial.js")
    @Scripts.Render("~/Application/js/angular-sanitize.min.js")
    @Scripts.Render("~/Application/js/angular-google-maps.min.js")
    @Scripts.Render("~/Application/js/angulartics/angulartics.js")
    @Scripts.Render("~/Application/js/angulartics/angulartics-ga.js")
    @Scripts.Render("~/Application/js/ui-bootstrap-tpls-2.5.0.min.js")
    @Scripts.Render("~/Application/client/scripts/app/config.js")
    @Scripts.Render("~/Application/client/scripts/app/routing.js")
    @Scripts.Render("~/Application/client/scripts/services/root.js")
    @Scripts.Render("~/Application/client/scripts/services/objectHandler.js")
    @Scripts.Render("~/Application/client/scripts/services/device.js")
    @Scripts.Render("~/Application/client/scripts/services/db.js")
    @Scripts.Render("~/Application/client/scripts/controllers/home.js")
    @Scripts.Render("~/Application/client/scripts/controllers/review.js")
    <script type="text/javascript">
            amplify.store("DeviceType", "Web");
		    amplify.store("AppVersion", "1.0.0-Web");
    </script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-101659909-1', 'auto');
          ga('send', 'pageview');

    </script>
</body>
</html>