<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decipher Austin</title>
    @Styles.Render("~/Content/admincss")
    @Styles.Render("~/Scripts/fancybox/jquery.fancybox.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                @RenderSection("navigation", required: false)                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/amplify.min.js")
    @Scripts.Render("~/scripts/tinymce/tinymce.min.js")
    @Scripts.Render("~/scripts/fancybox/jquery.fancybox.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
