@model City

@{
    if (Model.CityID > 0)
    {
        ViewBag.Title = "Edit City";
    }
    else
    {
        ViewBag.Title = "Add City";
    }
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Raw(TempData["Messages"])
@Html.Raw(ViewBag.Messages)

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td class="label">City Full Name:</td>
            <td class="field">
                @Html.TextBox("Name", Model.Name, new { required = "required" })
                @if (Model.CityID > 0)
                {
                <a data-fancybox data-type="iframe" data-src="@Url.Action("Translate", new { transID = "Cities." + Model.CityID + ".Name" })" href="javascript:;" class="translate">Translate</a>
                }
            </td>
        </tr>
        <tr>
            <td class="label">City Display Name:</td>
            <td class="field">
                @Html.TextBox("DisplayName", Model.DisplayName, new { required = "required" })
                @if (Model.CityID > 0)
                {
                    <a data-fancybox data-type="iframe" data-src="@Url.Action("Translate", new { transID = "Cities." + Model.CityID + ".DisplayName" })" href="javascript:;" class="translate">Translate</a>
                }
            </td>
        </tr>
        <tr>
            <td class="label">Question Set:</td>
            <td class="field">
                @Html.DropDownList("QuestionSetID")
            </td>
        </tr>
        <tr>
            <td class="label">City Center Latitude:</td>
            <td class="field">
                @Html.TextBox("Latitude", Model.Latitude, new { pattern = "?+[0-9]+([.][0-9]+)?", required = "required" })
            </td>
        </tr>
        <tr>
            <td class="label">City Center Longitude:</td>
            <td class="field">
                @Html.TextBox("Longitude", Model.Longitude, new { pattern = "?+[0-9]+([.][0-9]+)?", required = "required" })
            </td>
        </tr>
        <tr>
            <td class="label">Radius of City in Miles:</td>
            <td class="field">
                <input type="number" value="@Model.Radius" id="Radius" name="Radius" required/>
            </td>
        </tr>
        <tr>
            <td class="label">Name for Reporting Incident:</td>
            <td class="field">
                @Html.TextBox("ReportName", Model.ReportName)
                @if (Model.CityID > 0)
                {
                    <a data-fancybox data-type="iframe" data-src="@Url.Action("Translate", new { transID = "Cities." + Model.CityID + ".ReportName" })" href="javascript:;" class="translate">Translate</a>
                }
            </td>
        </tr>
        <tr>
            <td class="label">Email for Reporting Incident:</td>
            <td class="field">
                <input type="email" value="@Model.ReportEmail" id="ReportEmail" name="ReportEmail"/>
            </td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="field">
                @Html.Hidden("CityID")
                @Html.Hidden("ZipsAssociated", true)
                @Html.Hidden("CenterZip", "")
                @Html.Hidden("DateCreated")
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
}