@model List<Descriptor>
@{
    ViewBag.Title = "Identifiers";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Raw(TempData["Messages"])


<ul id="Arrange">
    @foreach (var item in Model)
    {
        <li id="@item.DescriptorID">
            <table cellpadding="8">
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a data-fancybox data-type="iframe" data-src="@Url.Action("Translate", new { transID = "Descriptors." + item.DescriptorID + ".Name" })" href="javascript:;" class="translate">Translate</a>
                    </td>
                    <td>
                        @using (Html.BeginForm("DescriptorRemove", "Admin", FormMethod.Post, new { @class = "remove" }))
                        {
                            @Html.Hidden("DescriptorID", item.DescriptorID)
                            @Html.Hidden("ReturnAction", "Identifiers")
                            <input type="submit" value="Remove" />
                        }
                    </td>
                </tr>
            </table>
        </li>
    }
</ul>
@using (Html.BeginForm("DescriptorAdd", "Admin"))
{
    <table>
        <tr>
            <td>@Html.TextBox("Name")</td>
            <td>
                @Html.Hidden("DescriptorType", "Profile")
                @Html.Hidden("ReturnAction", "Identifiers")
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".remove").submit(function () {
                return confirm("Are you sure you want to remove this item?");
            });

            $("#Arrange").sortable({});

            $("#Arrange").bind('sortstop', function(event, ui) {
                var items = $('#Arrange').sortable('toArray');
                var serialized = "";
                for (currentItem = 0; currentItem < items.length; currentItem++) {
                    var id = items[currentItem];
                    if (currentItem > 0) {
                        serialized += "~";
                    }
                    serialized += id + "-" + (currentItem + 1);
                }
                var url = "@Url.Action("DescriptorsOrder", "Admin")";
                $.post(url, { data: serialized, type: "Profile"}, function(data){
                });
            });
        });
    </script>
}